/* 
    Document   : styles
    Created on : 24-Jan-2013, 4:51:12 PM
    Author     : Denny
    Description:
        Purpose of the stylesheet follows.
*/

body{
    font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
}

div.hireme, div#hireme{
    border:1px solid #B5B5B5;
    background:#ffffff url(img/logo.png) 1px 1px no-repeat;
    color:#333;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-align:left;
    line-height: 130%;
    padding:0;
    margin:12px 0;
    width:218px;
    min-height: 220px;
    clear:both;
    cursor: pointer;
}

div.hireme > a.top, div#hireme > a.top{
    width:218px;
    height:30px;
    display:inline-block;
    text-align: center;
    font-size: 180%;
    padding-top:20px;
    padding-bottom: 0;
    margin-bottom:0;
    background-image:url(../img/Logo.png);
}

div.hireme > ul, div#hireme > ul{
    margin:0;
    padding:0;
    list-style:none;
}

div.hireme > ul > li, div#hireme > ul > li{
    padding: 0;
    margin:12px !important;
}

textarea#styled {
    width:425px;
    height:200px;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: Tahoma, sans-serif;
    overflow:auto;
}

.submitRight{
    margin-top: 20px;
    clear: both;
    float: right;
    width: 130px;   
}

#welcome{
    font-size:140%;
    color: white;
    padding:6px 10px 0px 10px;
}

#badgeTest a{

    background: #333 right center repeat-x;
    color: #FFFFFF;
    text-decoration: none;
    transition-duration: 160ms;
    -moz-transition-duration: 160ms;
    -o-transition-duration: 160ms;
    -webkit-transition-duration: 160ms;
}

#badgeTest a:hover{
    background: grey right top repeat-x;
}

#banner{
    height:35px;
    width:100%;
    font-size: 10px;
    background: rgba(35, 55, 68, 0.8);

}

.links-nav a{
    color:white;
    text-decoration:none;
}

.links-nav a:hover{
    color:#AAAAAA;
    text-decoration:none;
}

#logo{
    height:61px;
    width:250px;
    float:left;
    margin-top:10px;
}

#user{
    margin-left:-6px;
    float:left;
    margin-top: 6px;
}

a.genu{
    display:block;
    width:180px;
    height:18px;
    color:orange;
    outline:none;
    font-size:12px;
    padding-top:3px;
    float:left;
}
#navigation{
    width:705px;
    float:left;
    margin-top:10px;
    padding:34px 0px 20px 5px
}

.mainNav{
    float:left;
}

.navigation ul{
    margin:0;
}

#navigation li{
    color:rgba(255, 165, 0, 1);
    display:block;
    float:left;
    margin-right:20px;
    font-size:150%;

}

.askquestion{
    float:right;
}

.askquestion a{

    float:right;
    background: #444 right center repeat-x;
    padding:4px 8px 4px 8px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    transition-duration: 160ms;
    -moz-transition-duration: 160ms;
    -o-transition-duration: 160ms;
    -webkit-transition-duration: 160ms;
    font-weight: bold;
}

.ask a:hover{
    background: orange right top repeat-x;
    /*    color:rgba(255, 100, 0, 1);*/
}

#answers{
    clear:both;
    padding-top:10px;
    width:728px;
}

#answers-headers{
    width:728px;
    margin-top:10px;
    margin-bottom:10px;
}

.subheader{
    border-bottom:1px solid #cccccc;
    height:34px;
    clear:both;
    margin-bottom:15px;
}

.user-show-new .user-panel-left{
    margin-right:30px;
}

.user-show-new .user-panel{
    width:465px;
    float:left;
    margin-bottom:30px;
}

.user-show-new .user-panel .subheader{
    border-bottom: 1px solid #cdcdcd;
    margin-bottom:5px;
}

.user-show-new .user-panel .user-panel-content{
    margin-bottom: 10px;
}

.votes-cast-stats td{
    font-weight:bold;
    color:#666;
    vertical-align: middle;
    text-align:right;
}

.user-show-new .user-panel table{
    width:100%;
}

.user-show-new .user-answers{
    overflow:auto;
}

.user-show-new .user-panel table td{
    padding:6px 0;
    vertical-align: middle;
}

.user-show-new .user-panel .subheader .count{
    font-weight:normal;
    color:#808080;
}

.votes-cast-stats td.desc{
    font-size:10px;
    color:#444;
    padding-left:6px;
    text-align:left;
}

.user-show-new .user-panel .votes-cast-stats td.desc{
    padding-left:6px;
}

.user-show-new .user-header .data tr:last-child th, .user-show-new .user-header .data tr:last-child td{
    padding-bottom:15px;
}

.user-show-new .user-panel .user-tags td, .user-show-new .user-panel .user-badges td{
    padding: 3px;
}

.answer-votes{
    color:#555;
    text-align: center;
    background-color:#eeeeee;
    float:left;
    font-weight:bold;
    padding:4px;
    padding-bottom:5px;
    width:22px;
    height:15px;
    text-decoration:none;
    font-size:110%;
}

.votes-cast-stats{
    margin-top:10px;
    font-size:16px;
    line-height:20px;
}

.user-page table.votes-cast-stats{
    margin-top:0!important;
}

.user-show-new .user-panel .votes-cast-stats{
    margin-left:10px;
    width:auto;
}

.user-show-new .user-panel .votes-cast-stats tr{
    border-top:none;
}

.votes-cast-stats th{
    color:#333;
    padding-bottom:5px;
}

.votes-cast-stats th.spacer{
    width:40px;
}

.user-show-new .user-tags .answer-votes, .user-show-new .user-badges .answer-votes{
    margin-right:5px;
    width:25px;
    margin-top:2px;
}

.user-show-new .count-cell, .user-show-new .icon-cell{
    width:30px;
}

subheader a{
    color:#000000
}

#answers .subheader{
    margin-bottom:-10px;
}

#tabs a{
    background:inherit;
    border:1px solid #fff;
    color:#777;
    display:block;
    float: left;
    font-size:130%;
    height:24px;
    line-height:22px;
    margin:8px 8px 0 0;
    padding: 0 11px 0 11px;
    text-decoration: none;
}

#answers-header{
    width:728px;
    margin-top:10px;
    margin-bottom:10px;
}

.subheader h2, .subheader h1{
    float:left;
    font-size:18px;
    line-height:34px;
    margin-bottom:0;
}

.awarded{
    font-family:Trebuchet MS, Liberation Sans, DejaVu Sans, sans-serif;
    font-weight: bold;
    font-size:170%;
    margin-bottom: 7px;
    line-height: 1.3;
}

.jobs{
    font-family:Trebuchet MS, Liberation Sans, DejaVu Sans, sans-serif;
}

.badgeawardcount{
    font-size:45px;
    font-weight: bold;
    color: #808185;
    font-family: Arial,Liberation Sans, DejaVu Sans, sans-serif;
}

#navigation a{

    float:left;
    background: #444 right center repeat-x;
    padding:4px 8px 4px 8px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    transition-duration: 160ms;
    -moz-transition-duration: 160ms;
    -o-transition-duration: 160ms;
    -webkit-transition-duration: 160ms;
    font-weight: bold;
}

#navigation a:hover{
    background: orange right top repeat-x;
    /*    color:rgba(255, 100, 0, 1);*/
}

.cb, .cbt{
    clear:both;
}
#topBar{
    width:960px;
    margin:0 auto;
}

#topBar #topNav{
    width:auto;
    padding:8px 10px 0px 10px;
    float:right;
}

#topBar #topNav #topLinks{
    float:left;
    margin:0px 35px 0px 35px;
}

#topLinks{
    margin-right:20px !important;
    font-size:150%;
    padding-top:3px;
}

#topLinks .lsep{
    visibility:hidden;
    margin-right: 1px;
}

#topBar #search{
    float:left;
}

#search .textbox{
    margin:0px;
    width:200px;
    max-width:200px;
    border:none;
    border-top:1px solid #ccc;
    border-left:1px solid #ccc;
}

.navigation a{
    display:block;
    font-weight:bold;
    padding:6px 12px 6px 12px;
    text-decoration:none;
}

.question{
    clear:both;
    width:728px;
}

#header{
    height:70px;
    width:960px;
    margin:0 auto;
    font-size:10px;
    border-width:0px;
    border-bottom-width:1px;
    border-style:solid;
}

body,html{
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
}

#content{
    min-height:435px;
    width:960px;
    margin:0 auto;
    font-size:12px;
}

#mainContent{
    float:left;
    width:735px;
    margin-bottom:40px;
    word-wrap: break-word;
}

.badges-page .pl{
    padding-left: 10px;
}

.post-tag, .post-text, .post-tag, .wmd-preview, a.post-tag {
    background-color: #E0EAF1;
    border-bottom: 1px solid #3E6D8E;
    border-right: 1px solid #7F9FB6;
    padding: 3px 4px 3px 4px;
    margin: 2px 2px 2px 0;
    text-decoration: none;
    font-size: 100%;
    line-height: 2.4;
    white-space: nowrap;
}

.mainHeader{
    border-bottom:1px solid #cccccc;
    height:34px;
    clear:both;
    margin-bottom:15px;
}
.mainHeader h1, .mainHeader h2{
    float:left;
    font-size:18px;
    line-height:22px;
    margin-bottom:0px;
}

#tabs{
    float:right;
    font-weight:normal;
}

#tabs a.youarehere{
    background:#fff;
    border:1px solid #ccc;
    border-bottom-color:#ffffff;
    color:black;
    font-size:120%;
    height:30px;
    line-height:28px;
    margin-top:3px;
    padding:0px 11px 0px 11px;
}

#tabs a.otherTab:hover{
    border: 1px solid #ccc;
    border-bottom-color:#ffffff;
    padding:0px 11px 0px 11px;

}

#tabs a{
    background:inherit;
    border:1px solid #fff;
    color:#777;
    display:block;
    float:left;
    font-size:90%;
    height:24px;
    line-height:22px;
    margin:8px 8px 0px 0px;
    padding:0px 11px 0px 11px;
    text-decoration:none;
}

div{
    display:block;
}

td,th{
    display: table-cell;
}

.quick-need{
    display:inline-block;
    padding:0px 4px;
    margin-left:-4px;
    font-size:90%;
    background-color:rgba(255, 90, 0, 1);
    color:#000;
    font-weight:bold;
    margin-right:5px;
    -webkit-border-radius: 3px;
    border-radius:3px;
}

#question-list{
    overflow:auto;
    margin-top:-10px;
    margin-bottom:30px;
}

.question-page, .vote-count-post, .review-task-page .vote-count-post{
    padding-top:2px;
    color:#555;
}

.vote span{
    display:block;
    color: #808185;
    font-weight:normal;
}

.fontchange{
    font-size:180%;
}

.vote-count-post{
    display:block;
    font-size:24px;
}

.question-summary{
    border-bottom:1px solid #eaeaea;
    overflow:hidden;
    padding:11px 0px;
    width:730px;
    float:left;
}

.cp{
    cursor:pointer;
}

.votes{
    color :#555555;
    padding: 0 0 7px 0;
    text-align: center;
}

.question-summary .votes{
    background:transparent;
    float:left;
    margin:0 3px 0 0;
    padding:5px;
    width:38px;
    height:38px;
    text-align: center
}



.mini-counts{
    height:25px;
    font-size:160%;
    font-weight: normal;
}

.user-show-new .user-panel .mini-counts{
    font-size:12px;
    font-weight:normal;
    padding:3px 3px 3px 3px;
    height:15px;
    line-height: 1.3;
    margin-right: 10px;
    text-align: center;
    min-width: 20px;
}

.unanswered{
    float:left;
    margin:0 3px 0 0;
    padding:5px;
    width: 48px;
    height: 38px;
    background:transparent;
    color:#9a4444;
    text-align: center;
}

.status{
    margin-top:3px;
    padding:4px 0 4px;
    text-align:center;
}

.center{
    text-align: center;
}

.views{
    float:left;
    margin:0 7px 0 0;
    padding:5px 0 5px 4px;
    width:40px;
    color:#999;
    text-align:center;
}

.views2{
    padding-top: 4px;
    color:#999;
    text-align: center;
    clear:both;
}

.summary{
    width:550px;
    float:left;
}

.tagSummary{
    width:635px;
    float:left;
}

.summary h3{
    font-size:130%;
    margin-bottom: 5px;
}

h3{
    font-weight:bold;
    margin-bottom:5px;
    line-height: 1.3;
    margin-bottom: 5px;
    font-family:Trebuchet MS, Liberation Sans, DejaVu Sans, sans-serif;
}

a{
    text-decoration: none;
    cursor:pointer;
    color:rgba(255, 90, 0, 1);
}

.answered{
    float:left;
    margin:0 3px 0 0;
    padding:5px;
    width:48px;
    height:38px;
    background:#75845C;
    color:#ffffff;
    font-weight: normal;
    text-align: center;
}
a:visited{
    color:rgba(255, 150, 50, 1);
}

.tags{
    line-height: 18px;
    float: left;
}

.post-tag, .post-text, .post-tag, .wmd-preview, a.post-tag{
    background-color: #E0EAF1;
    border-bottom:1px solid #3E6D8E;
    border-right:1px solid #7F9FB6;
    padding:3px 4px 3px 4px;
    margin:2px 2px 2px 0;
    text-decoration:none;
    font-size:90%;
    line-height:2.4;
    white-space: nowrap;
}

.fw{
    width:100%;
}

.vt{
    vertical-align: top;
}

.post-menu > a, .edit-tags-wrapper > span >a{
    padding:0 3px 2px 3px;
    color:#888888;
}

.owner{
    background-color:#e0eaf1;
}

.post-signature{
    padding-left: 5px;
    padding-top: 2px;
    text-align: left;
    vertical-align: top;
    width: 175px;
    height: 58px;
}

.user-info{
    height:35px;
    width:185px;
}

.user-info .user-gravatar32{
    float:left;
    width:32px;
    height:32px;
}

.user-info .user-action-time{
    margin-top:2px;
    margin-bottom:4px;
}

gravatar32, .user-info.user-hover .user-gravatar48 {
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    filter: progid:DXImageTransform.Microsoft.Shadow(direction=135,strength=3, color=#808080);
    border-collapse: separate;
}

.users-page .user-info .user-gravatar48 {
    float:left;
    width:48px;
    height:48px;
}

.users-page .user-info .user-tags{
    clear:both
}

.users-page .user-tags{
    font-family: Arial, Liberation Sans, DejaVu Sans, sans-serif;
    font-size:13px;
    margin-left:53px;
}

.users-page .user-tags, .users-page .user-tags a{
    color: #888;
}

.users-page #user-browser table td{
    vertical-align: top;
}

.users-page #user-browser{
    margin-left: 5px !important;
    margin-top:15px;
}
.users-page .user-info{
    overflow: hidden;
}

.users-page .user-info{
    clear:both;
    height:85px;
    width:230px;
    margin:8px 5px;
}

.user-show-new{
    margin-bottom:20px;
}

.user-show-new .user-header .user-header-left{
    float:left;
    width:465px;
    margin-right: 30px;
}

.user-show-new .user-header .user-header-left .gravatar{
    float:left;
    margin-right:15px;
}

.user-show-new .user-header .user-header-left .gravatar .reputation{
    margin-top:10px;
    text-align:center;
    width:128px;
}

.user-show-new .user-header .user-header-left .gravatar .reputation span{
    display:block;
    font-size:220%;
    margin-bottom:5px;
    color: black;
}

.user-show-new .user-header .data{
    line-height: 1.3;
    width: 322px;
    float: left;
}

.user-show-new .user-header .data tbody:first-child tr:first-child th, .user-show-new .user-header .data tbody:first-child tr:first-child td{
    padding-top:0;
}

.user-show-new .user-header .data th, .user-show-new .user-header .data td{
    padding: 3px 20px 3px 0;
    white-space: nowrap;
    vertical-align: top;
}

.italic{
    font-style:italic;
}

.user-show-new .user-header .data th{
    font-weight:normal;
    color: #A0A0A0;
    font-style: italic;
}

.user-show-new .user-header .user-about-me, .user-show-new .user-header .user-about-me2{
    width:445px;
    height:225px;
    float:right;
    overflow-y:auto;
}

.user-show-new .user-panel .question-hyperlink, .user-show-new .user-panel .answer-hyperlink{
    width:425px;
}

.answer-hyperlink{
    color:#555 !important;
    font-weight:bold;
}

.user-show new .user-panel .question-hyperlink, .user-show-new .user-panel .site-hyperlink, .user-show-new .user-panel .answer-hyperlink{
    font-size:110%;
    font-weight:normal;
    line-height:1.3;
    display:block;
    max-width:425px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



.user-about-me{
    padding:10px;
    font-size:12px;
    background-color: #f8f8f8;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #eee;
    line-height:1.3;
}

.user-about-me2{
    padding:0;
    font-size:12px;
    background-color: #f8f8f8;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #eee;
    line-height:1.3;
}

.user-show-new .subheader{
    margin-bottom: 10px;
}

.started{
    width:auto; /*185*/
    line-height: inherit; /*18px*/
    padding-top: 4px;
    white-space:nowrap;
    color:#999;
    float:right;
}

.started-link{
    color:#999;
}

.relativetime{
    font-weight:normal;
    text-decoration:none;
}

.relativeTime{
    font-weight:normal;
    text-decoration:none;
}

.gravatar-wrapper-32{
    padding:0;
    width:32px;
    height:32px;
    text-align: center;
    overflow:hidden;
    background-color:#e0eaf1;
}

.started .reputation-score{
    margin-left: 1px;
    font-size:100% !important;
    font-weight:normal !important;
}

.reputation-score{
    color:#444;
    margin-right:2px;
}

#sideContent{
    float:right;
    width:220px;
    overflow:hidden;
    margin-bottom: 60px;

}

.module{
    color:#444;
    padding: 0 8px 2px 8px;
    margin-bottom: 10px;
    font-size:130%;
    word-wrap: break-word
}

.newUser{
    background-color:#FFEFC6;
    -webkit-border-radius:5px;
    border-radius:5px;
    padding:0px 8px 2px 8px;
    margin-bottom:10px;
    font-size:100%;
}

.newUser p{
    line-height:1.3;    
}
p{
    clear:both;
}

.ar{
    text-align: right;
}

.newUser h4{
    line-height:1.4;
    font-size:100%;
    padding-bottom:7px;
}

module h4{
    line-height:1.4;
    font-size:180%;
    padding-bottom:7px;
}

.item-multiplier{
    font-size:90%;
    font-weight:normal;
    margin-right: 4px;
    color: #999;
}

.item-multiplier-count, .item-multiplier-x{
    font-size:100%;
}
.post-tag{
    background-color:#E0EAF1;
    border-bottom:1px solid #3E6D8E;
    border-right:1px solid #7F9FB6;
    padding:3px 4px 3px 4px;
    margin:2px 2px 2px 0;
    text-decoration:none;
    font-size:90%;
    line-height:2.4;
    white-space:nowrap;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    word-wrap: break-word;
}

img.UofW{
    width:200px;
    height:60px;
    border-width: 0;
    margin-top:20px;
}

.fr {
    float:right;
}

.pager {
    margin-top: 20px;
    margin-bottom:20px;
}



.page-numbers{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border: 1px solid #ccc;
    color: #808185;
    display:block;
    float:left;
    font-size:130%;
    margin-right:3px;
    padding:4px 4px 3px;
    text-decoration: none;
}

.page-numbers.current{
    background-color:#808185;
    border: 1px solid #808185;
    color:#fff;
    font-weight:bold;
}

.page-numbers.dots{
    border: 1px solid #fff;
}

.page-numbers.next, .page-numbers.prev{
    border: 1px solid #fff;
}

ul{
    list-style: disc;
}

#recent-badges td{
    vertical-align: baseline;
    height:32px;
    width:244px;
    overflow:hidden;
    white-space: nowrap;
}

.badges-page .mb{
    margin-bottom: 15px;
    overflow:auto;
}

.badges-page #badge-legend .mb{
    overflow:visible;
}

.badge{
    color:#fff !important;
    background-color:#333;
    border:1px solid #333;
    margin: 0 3px 3px 0;
    padding: 0 6px 0 3px;
    display: inline;
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
    -webkit-border-radius: 6px;
    border-radius: 6px;

}


#footer{
    background-color: rgba(255, 75, 0, 0.8);
    border-style:solid;
    width:100%;
    border-width:0;
    border-top-width:7px;
    clear:both;
    font-size:10px;

}

.footWrapper{
    width:960px;
    margin:0 auto;
    text-align:left;
    font-size:10px;
}

#footer-menu{
    font-size:130%;
    line-height:30px;
    width:820px;
    float:left;
}

#footer-flair{
    width:130px;
    text-align: right;
    font-size:90%;
    float:right;
}

#footer-menu a{
    color:#ffffff
}

#copyright{
    color:#444444;
    clear:both;
    padding-bottom: 20px;
}

#question-header{
    width:960px;
    margin-bottom:20px;
    border-bottom:1px solid #cccccc;
}

#question-header h1{
    font-size:250%;
}

.user-info .user-details{
    float:left;
    margin-left:5px;
    width:145px;
    overflow:hidden;
    white-space:nowrap;
}

.users-page .user-details{
    width:175px !important;
}

#mainbar-full{
    width:960px;
}

.user-list{
    margin-right:10px;
    width:225px;
    height:21px;
    float:left;
    text-align:left;
    white-space: nowrap;
    overflow: hidden;

}

.badges-page .mb.post-badge .user-list{
    margin-bottom:10px;
    height: 25px;
}

.page-description{
    color:#333;
    font-size:120%;
    margin:0 1.2em 0.5em 0;
    line-height: 120%;
}



.user-details{
    color: #888;
    line-height:17px;
}

.reputation-score{
    font-weight:bold;
    color: #444;
    font-size:100%;
    margin-right: 2px;
}

.badgecount{
    padding-left:1px;
    color:#808185;
}

.badge1, .badge2, .badge3 {
    display: inline-block;
    width: 6px;
    height: 11px;
    overflow: hidden;
    line-height: inherit;
    background-position: -40px -1034px;
    vertical-align: text-bottom;
    margin: 0 1px 1px 3px;
}

.badge2{
    background-position:-20px -1034px;
}

.comments{
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

.comments{
    width: 660px;
    border-top:dotted 1px #aaa;
    margin-top: 10px;
    padding-bottom: 10px;
    line-height: 135%;
    color: #444;
}

tr.comment > td {
    padding-top:5px;
    padding-bottom: 5px;
    border-bottom: dotted 1px #ddd;
}

.comment-text, .comment-form{
    vertical-align: text-top;
    padding: 0px 6px 0px 7px;
}

.comment-date, .comment-date>date{
    border-bottom:none;
    color:#999;
}

a.comment-user{
    white-space:nowrap;
    padding:0;
}
.badge3{
    background-position:0px -1034px;
}

#question-hyperlink{
    font-weight:bold;
}

.question{
    clear:both;
    width:728px;
}

.vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .start-off, .comment-up-off, .comment-up-on,
.comment-down-off, .comment-up-on, .comment-flag, .flag-off, .vote-accepted-off, .vote-accepted-on{
    text-indent: -9999em;
    font-size:1px;
}

.votecell{
    width: 60px;
    vertical-align: top;
}

.vote{
    text-align: center;
}

input {
    margin: 5px 0 5px 0;
    padding:3px;
}

input, select, button{
    border:1px solid #999;
    font-size: 100%;

}

.vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off{
    background-position:0px -265px;
    display:block;
    margin: 0 auto;
    width:41px;
    height:25px;
}

.tag-cell{
    width:230px;
    border-bottom: 1px dotted #E0E0E0;
    padding-bottom: 12px;
    padding-right: 6px;
    padding-top: 6px;
    vertical-align: top;
}

.excerpt {
    font-size:12px;
    height:39px;
    line-height:14px; /*1.2 -- 0 padding -- 0 margin -- 5px margin bottom -- no height or font*/
    overflow:hidden;
    margin-bottom:4px;
    padding:0;
    margin:0;
    padding-bottom: 5px;
}

.tagexcerpt{
    line-height: 1.2;
    padding:0;
    margin:0;
    margin-bottom: 5px;

}

.tagSummary h3{
    font-size:150%;
    margin-bottom: 5px;
}

.excerpt, .stats-row{
    font-family: Arial,Liberation Sans, DejaVu Sans, sans-serif;
    font-size: 12px;
    color: #888;
}

.statscontainer{
    width:86px;
    float:left;
    margin-right:8px;
}

#hlogo a, .envelope-on, .envelope-off, .vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off, .comment-up-off, .comment-up-on, .comment-flag, .edited-yes, a.cc-wiki-link, .feed-icon, .statsarrow, .vote-accepted-off, .vote-accepted-on, .vote-accepted-bounty, .badge-earned-check, .delete-tag, .grippie, .expander-arrow-hide, .expander-arrow-show, .expander-arrow-small-hide, .expander-arrow-small-show, .anonymous-gravatar, .badge1, .badge2, .badge3, .add-interesting-tag-on, .add-interesting-tag-off, .fb-share, .twitter-share, .gp-share {
    background-image: url('../img/sprites.png?v=5');
    background-repeat: no-repeat;
    overflow: hidden;
}

.stats{
    background:#eee;
    margin:0 0 0 7px;
    padding: 4px 7px 6px 7px;
    width: 58px;
}

.statsarrow{
    float:right;
    height:13px;
    width:7px;
    margin-top:12px;
    background-position: 0px -435px;
}

.badges-page .check-cell{
    width:28px;
    vertical-align: middle;
}

.badges-page .badge-cell{
    height:32px;
    width: 150px;
}

.star-off, .star-on {
    background-position: 0px -150px;
    width: 33px;
    height: 31px;
}

.post-text{
    width:660px;
    font-size:107%;
    margin-bottom:5px;
    margin-right:5px;
    line-height: 130%;
    background: transparent;
    border:0;

}

.ask-mainbar{
    width:660px!important;
}

.ask-title{
    margin-bottom: -15px;
    margin-top: -10px;
}

.ask-title-table{
    width:668px;
}

.ask-title-cell-key{
    width:50px;
}

.ask-title-cell-value{
    padding-left:5px;
}

.ask-title-field{
    width:610px;
}

.edit-field-overlayed{
    color: #888;
}

#question-suggestions{
    width:665px;
    overflow:hidden;
    padding-bottom:2px;
}

#tagnames{
    width:660px;
}

.note{
    font-size:90%;
    color:grey;
    font-style:italic;
}



.module p.label-key{
    color:#444;
    margin-bottom:0;
}

.module h4{
    line-height:1.4;
    padding-bottom: 7px;
}
.module p{
    font-size:90%;
    line-height:1.3;
    margin-bottom: 0.5em;
}

.post-editor{
    width:660px;
}

.wmd-button-bar{
    height: 25px;
    width:220px;
    clear:both;
    background-color:#fff;
    margin: 10px 0px 1px 0px
}

.wmd-button-row{
    position:relative;
    padding:0px;
    height:20px;
    margin:0;
}

.wmd-button{
    width:20px;
    height:20px;
    padding-left:2px;
    padding-right:3px;
    position:absolute;
    display:inline-block;
    list-style:none;
    cursor:pointer;
}

textarea{
    resize:none;
    border:1px solid #999;
    font-size:90%;
}

#content{
    text-align: left;
}

.post-text p{
    word-wrap: break-word;
    clear:both;
}

code {
    background-color:#eeeeee
}

.post-taglist{
    margin-bottom:10px;
    clear:both;
}

pre{
    padding:5px;
    margin-bottom:10px;
    background-color:#eeeeee;
    overflow:auto;
    width:auto;
    max-height:600px;
}
.post-text p{
    width:660px;
    clear:both;
    white-space : pre-wrap;
}

.answercell .post-text{
    white-space:pre-line;  /* code snippet used to wrap text*/ 
}

.postcell .post-text{
    border-width:0;
    white-space : pre-line;
}

.vote-down-off{
    background-position:0px -300px;
}

.answer{
    border-bottom:1px solid #aaa;
    width:728px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.was-this-useful{
    padding:0 3px 2px 3px;
    margin-top: 8px;
    color:#888;
    line-height:37px;
}

.comments .was-this-useful{
    color: rgb(0,0,0);
}

.fl {
    float:left;
}

.community-option{
    color: #888;
    float:right;
    font-weight:normal;
    font-size:90%;
    height:32px;
}

.wmd-preview{
    clear:both;
    padding:3px;
    border:2px dotted #ccc;
    font-size:107%;
    line-height:130%;
    width:660px;
}

.edit-block{
    display:none;
}

.vm{
    vertical-align: middle;
}

.wmd-input{
    width:660px;
    padding:3px;
    height:200px;
    line-height:1.2;
}

.form-item label{
    display:block;
    font-size:115%;
    font-weight: bold;
    color: #333;
    padding-bottom: 3px;
}

.edit-field-overlay{
    color: #888;
}

.form-submit{
    padding:10px 0 15px 0;
    display:block;
}

input[type="button"],input[type="submit"]{
    cursor:pointer;
    padding:0.3em 0.6em;
}

.form-submit input{
    font-size:130%;
    font-weight:bold;
    border: 1px solid #888;
    margin: 3px 0;
}

.dno{
    display:none;
}

.ask-page, .privacy-policy-agreement, .question-page{
    margin-top:15px;
}

.privacy-policy-agreement{
    font-style:italic;
}

.space{
    padding-top:20px;
}

.required-tag,.post-text .required-tag,.wmd-preview a.required-tag {
    border:2px solid #979797;
}

.post-text pre>code:first-child,.wmd-preview pre>code:first-child {
    max-height:600px;
    display:block;
}

.post-text h1,.wmd-preview h1 {

    line-height:24px!important;
    margin-bottom:10px!important;
}

.post-text li pre,.wmd-preview li pre {
    word-wrap:break-word;
}

.post-tag .post-tag,.wmd-preview a.post-tag {
    color:#3E6D8E;
    background-color:#E0EAF1;
    border-bottom:1px solid #3E6D8E;
    border-right:1px solid #7F9FB6;
    text-decoration:none;
    font-size:90%;
    line-height:2.4;
    white-space:nowrap;
    margin:2px 2px 2px 0;
    padding:3px 4px;
}

a.post-tag:hover,.post-text a.post-tag:hover,.wmd-preview a.post-tag:hover {
    background-color:#3E6D8E;
    color:#E0EAF1;
    border-bottom:1px solid #37607D;
    border-right:1px solid #37607D;
    text-decoration:none;
}

.wmd-button-bar {
    height:25px;
    width:660px;
    clear:both;
    background-color:#fff;
    margin:10px 0 1px;
}

.wmd-input {
    width:660px;
    height:200px;
    line-height:1.2;
    padding:3px;
}

.wmd-preview {
    clear:both;
    border:2px dotted #ccc;
    font-size:107%;
    line-height:130%;
    width:660px;
    padding:3px;
}

.wmd-button-row {
    position:relative;
    height:20px;
    margin:0;
    padding:0;
}

.wmd-spacer {
    width:1px;
    height:20px;
    margin-left:14px;
    position:absolute;
    background-color:Silver;
    display:inline-block;
    list-style:none;
}

.wmd-button {
    width:20px;
    height:20px;
    padding-left:2px;
    padding-right:3px;
    position:absolute;
    display:inline-block;
    list-style:none;
    cursor:pointer;
}

.wmd-button>span {
    background-image:url(img/wmd-buttons.png);
    background-repeat:no-repeat;
    background-position:0 0;
    width:20px;
    height:20px;
    display:inline-block;
}

.wmd-button-bar .wmd-spacer1 {
    left:50px;
}

.wmd-button-bar .wmd-spacer2 {
    left:175px;
}

.wmd-button-bar .wmd-spacer3 {
    left:300px;
}

.wmd-prompt-background {
    background-color:#000;
}

.wmd-prompt-dialog {
    border-right:3px solid #999;
    border-bottom:3px solid #999;
    border-top:3px solid #fff;
    border-left:3px solid #fff;
    background-color:#ddd;
}

.wmd-mini-button,.wmd-mini-button:visited {
    width:60px;
    text-decoration:none;
    color:#444;
    margin:5px;
    padding:3px 8px;
}

.wmd-mini-button:hover,.wmd-mini-button.selected {
    text-decoration:none;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    background-color:#ccc;
}

.wmd-mini-button.selected:hover,.wmd-mini-button.selected {
    color:#eee;
    background-color:#888;
}

.wmd-help-button.active-help {
    background-color:#F3EED5;
    height:30px;
    padding-left:3px;
}

.about-page .new-about-content-page .on-topic-examples .wiki-ph-content li,.about-page .new-about-content-page .on-topic-examples .wmd-preview li,.about-page .new-about-content-page .off-topic-examples .wiki-ph-content li,.about-page .new-about-content-page .off-topic-examples .wmd-preview li {
    background:transparent url(../Img/about/sprite-about.png) no-repeat left center;
    margin-bottom:.25em;
}

.about-page .new-about-content-page .on-topic-examples .wiki-ph-content li,.about-page .new-about-content-page .on-topic-examples .wmd-preview li {
    background-position:0 -421px;
    padding-left:20px;
}

.about-page .new-about-content-page .off-topic-examples .wiki-ph-content li,.about-page .new-about-content-page .off-topic-examples .wmd-preview li {
    background-position:0 -701px;
    padding-left:20px;
}

.about-page .new-about-content-page .wiki-ph-content ul li,.about-page .new-about-content-page .wmd-preview ul li {
    list-style:none;
    line-height:1.4;
}

.post-text h1,.post-text h2,.post-text h3,.wmd-preview h1,.wmd-preview h2,.wmd-preview h3,.login-page #noscript-stackexchange-login div {
    margin-bottom:1em;
}

.post-text p,.post-text li,.wmd-preview li,.wmd-preview p,table.flagged-posts .mod-message,table.flagged-posts div.post-header,table.flagged-posts div.post-summary,table.flagged-posts .mod-post-header {
    word-wrap:break-word;
}

.wmd-preview img,.post-text img {
    max-width:640px;
}

#prefix{
    width: 50px; 
}

.welovestride{
    padding:5px;
    color: #333;
    line-height: 130%;
    overflow:hidden;
    margin-bottom: 8px;
    border: 3px solid #eee;
    margin-top: 10px;
}

.mapbox{
    padding:5px;
    color: #333;
    line-height: 130%;
    height:400px;
    overflow:hidden;
    margin-bottom: 8px;
    border: 3px solid #eee;
    margin-top: 10px;
}

#map-canvas{
    height:100%;
}